---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@use "variables" as * with (
  $max-content-width: {{ site.max_width | default: "1100px" }}
);
@use "themes" as *;
@use "layout" as *;
@use "base" as *;
@use "news" as *;
@use "distill" as *;
@use "cv" as *;
@use "tabs" as *;
@use "typograms" as *;
@use "font-awesome/fontawesome" as *;
@use "font-awesome/brands" as *;
@use "font-awesome/solid" as *;
@use "font-awesome/regular" as *;
@use "tabler-icons/tabler-icons" as *;
@use "tabler-icons/tabler-icons-filled" as *;
@use "tabler-icons/tabler-icons-outline" as *;
